.icono {
 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
}

.control {
 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
}
.loading {
 -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
}

.list-item {
    border-bottom: none;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 160, 122, 0.1)), to(lightsalmon));
	background-repeat:no-repeat;
	background-size:100% 1px;
	background-position:0 100%, 100% 0;
}

